/* home.component.css */

.background-image{
  display: block;
  height: 100vh;
  background-image: url('./../../../../public/tour.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
